@font-face {
	font-family: Futura-Bold;
	src: local("Futura-Bold"), local("Futura-Bold-Regular"), url(http://allfont.net/cache/fonts/futura-bold_ff79676945948891835ba4ce3bdcbef6.woff) format("woff"), url(http://allfont.net/cache/fonts/futura-bold_ff79676945948891835ba4ce3bdcbef6.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
